{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Site</title>
    <link rel="stylesheet" href="{% static 'css/design.css' %}">
</head>
<body>
    <div class="booking1">
        <div class="booking">
            <h2>You are logged out</h2>
        </div>
    </div><br>

    <div class="booking1">
        <div class="booking3">
            <div><a href="{% url 'login' %}"><button>Login again</button></a></div>
        </div>
    </div><br>
    
</body>
</html>